<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <br>
        <h2>&nbsp;&nbsp;&nbsp;欢迎登录景区行李寄存管理平台</h2>
<br><br>
        <p>&nbsp;&nbsp;&nbsp;随着中国人对于旅游休闲的积极认识和市场的需求不断增加，各个景区为了满足游客需求也在不断的开发新的景点。</p>
        <p> &nbsp;&nbsp;&nbsp;但是只有优质的景点、美丽的景色，还不会让游客留下深刻的映像，其中还有景区的服务质量也是备受游客关注的问题。</p>
        <p>&nbsp;&nbsp;&nbsp;现在的人们外出旅游，都会携带很多东西，食物、相机、各种各样的驴友装备。</p>
        <p>&nbsp;&nbsp;&nbsp;可能会塞满大包小包，可实际到景区的时候，可能自己携带的东西又派不上用场。</p>
        <p>&nbsp;&nbsp;&nbsp;那这个时候就必须要把自己的东西寄存起来了，以便更轻松的游玩。</p>
        <br><br>
        <p>&nbsp;&nbsp;&nbsp;所以景区行李寄存系统应运而生...</p>
    </div>
</div>
</body>
</html>